{% extends "base.html" %}


{% block body %}
</br>
<div class="Reading" style="text-align: center;margin-left:5px;">
    <div>
        <img src="/static/pictures/books.png" alt="Welcome" style="float:left;width:400px;height:300px;">
    </div>
    <h3>Books</h3>
    Books are a very good way to learn something new and to relax,</br>to live multiple lives,
    to explore other people's lives through their eyes.</br> I don't read as much as I would like to
    but could not exclude it from this list.
</div>
</br>
<div class="Driving" style="text-align: center;margin-right: 5px;">
    <div>
        <img src="/static/pictures/driving.png" alt="Welcome" style="float:right;width:400px;height:300px;">
    </div>
    <h3>Driving on nighty road</h3>
    Driving at night is always good to clear the mind of problems. Just you, your car, and some good music.
</div>
</br></br></br>
<div class="Movies" style="text-align: center;margin-left: 5px;">
    <div>
        <img src="/static/pictures/movie.png" alt="Welcome" style="float:left;width:400px;height:400px;">
    </div>
    <h3>Movies</h3>
    Movies, serials, and anime work of visual art that simulates experiences and otherwise communicates ideas, stories,
    perceptions, feelings, beauty, or atmosphere through the use of moving images.
</div>
</br></br></br></br>
<div class="Music" style="text-align: center;margin-right: 5px;">
    <div>
        <img src="/static/pictures/music.png" alt="Welcome" style="float:right;width:400px;height:300px;">
    </div>
    <h3>Music</h3>
    Nothing is better than listening to music, music helps relax, helps focus, and helps dreams.
</div>
</br></br></br></br>
<div class="Games" style="text-align: center;margin-left: 5px;">
    <div>
        <img src="/static/pictures/games.png" alt="Welcome" style="float:left;width:400px;height:350px;">
    </div>
    <h3>Video.Games</h3>
    Video Games are a good way to kill time and to have fun with friends, sometimes to relax, sometimes because most of
    the time is mostly pain and nerves.
</div>

{% endblock %}