{% extends "base.html" %}


{% block body %}

<div class="Reading" style="text-align: center;margin-left:5px;">
    <div>
        <img src="/static/pictures/books.png" alt="Welcome" style="width:400px;height:300px;">
    </div>
    <h3>Books</h3>
    Books are a very good way to learn something new and to relax,to live multyple lives,
    to explore other people's lives through their eyes. I don't read as much as I would like to
    but could not exclude it from this list.
</div>

<div class="Driving" style="text-align: center;margin-right: 5px;">
    <div>
        <img src="/static/pictures/driving.png" alt="Welcome" style="width:400px;height:300px;">
    </div>
    <h3>Driving on nighty road</h3>
    Driving in the night is always good to clear the mind of problems.Just you ,your car and some good music.
</div>

<div class="Movies" style="text-align: center;margin-left: 5px;">
    <div>
        <img src="/static/pictures/movie.png" alt="Welcome" style="width:400px;height:400px;">
    </div>
    <h3>Movies</h3>
    Movies,serials,anime  work of visual art that simulates experiences and otherwise communicates ideas
    , stories, perceptions, feelings, beauty, or atmosphere through the use of moving images.
</div>

<div class="Music" style="text-align: center;margin-right: 5px;">
    <div>
        <img src="/static/pictures/music.png" alt="Welcome" style="width:400px;height:300px;">
    </div>
    <h3>Music</h3>
    Nothing better then lisening to music,music helps relax,helps focusing,helps dreaming.
</div>

<div class="Games" style="text-align: center;margin-left: 5px;">
    <div>
        <img src="/static/pictures/games.png" alt="Welcome" style="width:400px;height:350px;">
    </div>
    <h3>Video Games</h3>
    Video Games are a good way to kill time and to have fun with friends ,sometimes to relax,
    sometimes becouse most of the times is mostly pain and nervs.
</div>

{% endblock %}