{% extends "base.html" %}


{% block body %}

   " <a href="/" style="font-size: 30px;text-align: left;margin:50px">{{ title }}</a>"
    <a href="/info" style="text-align: right;margin-left:50%">Personal Information</a>
    <a href="/hobbies" style="text-align: right;">My hobbies</a>
    <a href="/cv" style="text-align: right;">CV</a>
    <a href="/tehnologies" style="text-align: right;">Technologies I love</a>

    </br></br></br></br></br></br>

    <img src="/images/welcome.png" alt="Welcome">

{% endblock %}