{% extends "base.html" %}


{% block body %}
</br></br></br></br>
<div>
    <img src="/static/pictures/MyPicture.jpg" alt="Welcome" style="float:right;width:620px;height:600px;">
</div>

<h1 style="text-align:center;">ABOUT ME</h1>
<h3 style="text-align:center;font-family:Arial;">
    Year 3 Software Development Student eager to new challenges and always </br>in competition with the past me. 
    </br>Looking forward to take part in a team of real </br>   
    programmers and would be extremely excited to learn something new</br> and improve my knowledges to become a better programmer.
</h3>
<hr>

{% endblock %}