{% extends "base.html" %}


{% block body %}
<div class='child2' style="position: absolute; right: 0;top:100px">
    <a href="/tehno1" style="text-align: right;">Computer Arhitecure</a>
    <a href="/tehno2" style="text-align: right;">Computer Algorithms</a>
    <a href="/tehno3" style="text-align: right;">Programming Languages</a>
</div>

<h1 style="text-align: center;margin-top: 5%;">Tehnologies I like</h1>

<div style="text-align: center;margin-top:5%;">
    <img src="/static/pictures/tehno.png" alt="Welcome" style="width:1500px;height:700px;">
</div>


{% endblock %}