{% extends "base.html" %}


{% block body %}
<div class='child2' style="position: absolute; right: 0;top:100px">
    <a href="/tehno1" style="text-align: right;">Computer Arhitecure</a>
    <a href="/tehno2" style="text-align: right;">Computer Algorithms</a>
    <a href="/tehno3" style="text-align: right;">Programming Languages</a>
</div>

<h1 style="text-align: center;margin-top: 5%;">Computer Architecture</h1>

<div style="text-align: center;margin-top:5%;">
    <img src="/static/pictures/tehno1.png" alt="Welcome" style="position: absolute; right: 0;width:800px;height:350px;">
</div>

<h4 style="text-align: center;margin-top:5%;">In computer engineering, computer architecture is a set of rules and
    methods that describe the functionality,<br> organization, and implementation of computer systems.<br> The
    architecture of a system refers to its structure in terms of separately specified components of that system and
    their interrelationships.</h4>

<h4 style="text-align: center;margin-top:2%;">I like to learn how the computer works, and how the os controls all the
    processes.
    <br>How everything is managed by the CPU.
</h4>
{% endblock %}